<h4>Enter the following things and know the result at the other end.</h4>
<hr />

<input
  type="text"
  placeholder="Name:"
  class="my-3 mx-5 mx-5"
  [(ngModel)]="Name"
/><br />

<input
  type="text"
  placeholder="Place:"
  class="my-3 mx-5"
  [(ngModel)]="Place"
/><br />

<input
  type="text"
  placeholder="Animal:"
  class="my-3 mx-5"
  [(ngModel)]="Animal"
/><br />

<input
  type="text"
  placeholder="Thing:"
  class="my-3 mb-5 mx-5"
  [(ngModel)]="Thing"
/><br />

<button class="btn btn-success mb-5 mx-5" (click)="enter()">Enter</button><br />
