<div class="sidebar">
  <a routerLink="introduction" class="m-2" routerActiveLink="active"
    >Introduction</a
  >
  <a routerLink="lifecyclehooks" class="m-2">Lifecycle Hooks</a>
  <a routerLink="property-binding" class="m-2">Property Binding</a>
  <a routerLink="directives" class="m-2">Directives</a>
  <a routerLink="routing" class="m-2">Routing</a>
  <a routerLink="service" class="m-2">Communication</a>
  <a routerLink="pipes" class="m-2">Pipes</a>
  <a routerLink="game" class="m-2">Game</a>
</div>
