<div class="mt-4 p-3">
  <h5>Routing Navigation</h5>
  <p>
    It is used to go from one html to another html. In angular it is done
    without reloading the webpage.
  </p>
  <ol>
    <h6>Steps for Routing are:</h6>
    <li>Giving path in <b>app.routes.ts</b> file</li>
    <li>
      Placing the <b>routerLink="path"</b> attribute in anchor tag or button
      tags
    </li>
    <li>
      Remember to include RouterLink module in .component.ts imports. in which u
      have used routerLink
    </li>
    <li>
      Placing <b>< router-outlet ></b> tag at a place which is to be changed.
    </li>
  </ol>

  <p>The sidebar is developed using Routing.</p>
</div>
